/* --- PAGE STYLES --- */

/* Background color and font for the whole page */
body {
  background-color: #141414;
  font-family: 'Kode Mono', 'Arial', sans-serif;
  color: #BEB7A4;
  margin: 0;
  padding: 30px;
  text-align: center;
}

/* Main heading */
h1 {
  color: #B8FF1F;
  font-size: 36px;
  margin-bottom: 20px;
}

/* 2 heading */
h2 {
  color: #7D82B8;
  font-size: 30px;
  margin-bottom: 10px;
}

/* Subheadings for sections */
h3 {
  color: #B8FF1F;
  font-size: 22px;
  margin-top: 0;
}

/* Buttons */
button {
  background-color: #B8FF1F;
  color: #141414;
  border: none;
  border-radius: 12px;
  padding: 12px 25px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 20px;
  transition: 0.2s;
}

button:hover {
  background-color: #7D82B8;
}

/* --- Tool buttons on index page --- */
.tool-link {
  display: inline-block;
  background-color: #B8FF1F;
  color: #141414;
  text-decoration: none;
  padding: 15px 30px;
  margin: 15px;
  border-radius: 12px;
  font-size: 22px;
  font-weight: bold;
  transition: 0.3s;
}

.tool-link:hover {
  background-color: #7D82B8;
  color: #141414;
}


/* Cards for list sections */
.card {
  background-color: #7D82B8;
  color: #141414;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  padding: 20px;
  margin: 15px auto;
  max-width: 500px;
  text-align: left;
}

/* Lists inside cards */
ul {
  padding-left: 20px;
}

li {
  margin: 5px 0;
}
